{% extends "base.html" %}

{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}

{% block head %}
{% set article_desc = article.description or (article.metadata.get('description') if article.metadata else none) %}
{% if article_desc %}
  <meta name="description" content="{{ article_desc|e }}">
{% endif %}
{% endblock %}

{% block content %}
<div class="group--main-container">
  <article class="el-stack stack-m">
    {% if article.preview_image %}
    <div class="el-frame-16x9">
      <img src="{{ article.preview_image.lstrip('/') }}" alt="{{ article.preview_image_alt|default(article.title) }}" />
    </div>
    {% endif %}
    <header>
      {% if article.date %}
      <time class="text-s color-neutral-3" datetime="{{ article.date.isoformat() }}">
        {{ article.date.strftime('%d. %m. %Y') }}
      </time>
      {% endif %}
    </header>

    <div class="el-stack stack-xs">
      {% set article_desc = article.description or (article.metadata.get('description') if article.metadata else none) %}
      {% if article_desc %}
      <p>{{ article_desc }}</p>
      {% else %}
      {{ article.content }}
      {% endif %}
    </div>
  </article>
</div>
{% endblock %}
