{% extends "base.html" %}
{% from "components/widget_processor.html" import process_widgets %}

{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock %}

{% block content %}
<div class="group--main-container">
  <article class="el-stack stack-l">
    {% if page.preview_image %}
    <div class="el-frame-16x9">
      <img src="{{ page.preview_image.lstrip('/') }}" alt="{{ page.preview_image_alt|default(page.title) }}" />
    </div>
    {% endif %}
    <div class="el-stack stack-xs">
      {{ process_widgets(page.content) }}
    </div>
  </article>
</div>
{% endblock %}
