html {
  font-size: 16px;
}

html {
  font-size: 16px;
}

/* reset defaults */
body {
  --layout-max-width: none;
  --padding-left: 0;
  --padding-right: 0;
  --padding-left-mobile: 0;
  --padding-right-mobile: 0;
}

nav.super-navbar,
nav.super-navbar.balanced,
.notion-header__cover.no-cover,
footer.super-footer,
#google_translate_element {
  display: none;
}

/* new styles */
body {
  --color-front: rgba(0, 0, 0, 1);
  --color-back: rgba(255, 255, 255, 1);
  --base-font-size: 4.1vw;
  --base-line-height: 6vw;
  --small-font-size: 3.2vw;

  --aside-margin: 6vw;
  --gap-space: 2.4vw;

  color: var(--color-front);
  background: var(--color-back);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-style: normal;
  font-weight: 400;
  font-feature-settings: "liga" 1, "calt" 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.super-root {
  margin-bottom: 10vw;
  margin-top: 8vw;
  margin-left: 7vw;
  margin-right: 7vw;
}

.marathon-navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--gap-space);

  top: auto;
  left: auto;
  right: 1vw;
  bottom: 4vw;
  z-index: 999;

}

.marathon-navigation a {
  font-size: var(--small-font-size);
  color: var(--color-front);
  background: var(--color-back);
  text-decoration-line: none;

  text-decoration: none;
  text-transform: uppercase;

  padding: 1vw 3vw 0.8vw;
  border-radius: 15vw;
  border-width: 1px;
  border-style: solid;
}


h1.notion-header__title {
  font-family: var(--primary-font);
  font-size: 12vw;
  line-height: 13vw;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 0em;
  margin-top: 0em;
  margin: 0;
  padding: 0;
}

h2.notion-heading.notion-semantic-string {
  font-family: var(--primary-font);
  font-size: 8.6vw;
  line-height: 11vw;
  margin: 0;
  padding: 0;
  margin-bottom: calc(0.5 * var(--base-line-height));
  margin-top: calc(1 * var(--base-line-height));
}

h2.notion-heading.notion-semantic-string:first-of-type {
  margin-top: 0;
  margin-bottom: calc(2 * var(--base-line-height));
}

p, ul {
  max-width: 76vw;
}

p.notion-text__content.notion-semantic-string {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  margin-bottom: var(--base-line-height);
  margin-top: 0;
  padding: 0;
}

.notion-image img {
  filter: saturate(1%) contrast(110%) sepia(10%);
}

.notion-image img:hover {
  filter: none;
}

.notion-caption {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  color: var(--color-front);
  width: 100%;
  text-align: center;
}

.notion-image.page-width>figcaption {
  padding: 6vw 0;
}

.sign-up-button {
  /* Style Sources */
  position: fixed;
  padding: 5vw 7vw;
  border-radius: 15vw;
  top: auto;
  bottom: 2vw;
  right: 2vw;
  color: var(--color-front);
  background: var(--color-back);
  z-index: 999;
  border-width: 1px;
  border-style: solid;
  text-decoration-line: none;
}

.notion-list-item {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

.notion-semantic-string {
  color: var(--color-front);
}

.color-default {
  color: var(--color-front);
}

.notion-table {
  min-width: 100%;
}

@media (min-width: 600px) and (max-width: 900px) {

  body {
    --base-font-size: 2.7vw;
    --base-line-height: 4vw;
    --small-font-size: 2vw;
    --gap-space: 1.25vw;
  }

  .marathon-navigation {
    top: 9vw;
    right: 2vw;
    bottom: auto;
  }

  .marathon-navigation a {
    padding: 0.5vw 1vw 0.4vw;
  }

  .super-root {
    margin-bottom: 12vw;
    margin-top: 9vw;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .notion-column-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6vw;
    align-items: start;
    justify-items: start;
  }

  .notion-column {
    width: 100% !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0;
  }

  .notion-image.page-width>figcaption {
    padding: 3vw 0;
  }
}

@media (min-width: 900px) {
  body {
    --layout-max-width: none;
    --padding-left-mobile: 0;
    --padding-righ-mobilet: 0;
    --base-font-size: 1.65vw;
    --small-font-size: 1.5vw;
    --base-line-height: 2.5vw;
    --aside-margin: 12vw;
    --gap-space: 1.25vw;
  }

  .super-root {
    margin-bottom: 6vw;
    margin-top: 4vw;
    margin-left: 5vw;
    margin-right: 29vw;
  }

  .marathon-navigation {
    top: 4vw;
    right: 4vw;
    bottom: auto;
  }

  .marathon-navigation a {
    padding: 0.2vw 1vw 0.11vw;
  }

  h1.notion-header__title {
    font-size: 11vw;
    line-height: 11vw;
    margin: 0;
    padding: 0;
  }

  h2.notion-heading.notion-semantic-string {
    font-size: 4.5vw;
    font-weight: 400;
    line-height: 5vw;
    margin-bottom: calc(0.5 * var(--base-line-height));
    margin-top: calc(1 * var(--base-line-height));
  }

  p.notion-text__content {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    margin-bottom: var(--base-line-height);
  }

  .sign-up-button {
    padding: 1.3vw 2.2vw;
    border-radius: 5vw;
    top: 4vw;
    right: 4vw;
    bottom: auto;
  }

  .notion-column-list {
    display: flex;
    flex-wrap: wrap;
  }

  .notion-image.page-width>figcaption {
    padding: 1vw 0;
  }
}