{% set limit = none %}
{% set sort = none %}

{% if tag_content %}
  {% set tag_name_parts = tag_content.split(' ') %}
  {% set tag_name = tag_name_parts[0] %}
  {% if tag_name_parts | length > 1 %}
    {% set attrs_str = tag_content[tag_name | length:] | trim %}
    {% if attrs_str %}
      {% set attrs_list = attrs_str.split('" ') %}
      {% for attr in attrs_list %}
        {% if 'limit="' in attr %}
          {% set limit_raw = attr.split('limit="')[1] %}
          {% set limit = limit_raw.split('"', 1)[0] %}
        {% elif 'sort="' in attr %}
          {% set sort_raw = attr.split('sort="')[1] %}
          {% set sort = sort_raw.split('"', 1)[0] | lower %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endif %}

{% set class_pages = [] %}
{% for article in all_articles %}
  {% if article.category and article.category.name == 'class' %}
    {% set _ = class_pages.append(article) %}
  {% endif %}
{% endfor %}

{% if sort == 'oldest' %}
  {% set sorted_classes = class_pages | sort(attribute='date') %}
{% elif sort == 'title' %}
  {% set sorted_classes = class_pages | sort(attribute='title') %}
{% else %}
  {% set sorted_classes = class_pages | sort(attribute='date', reverse=true) %}
{% endif %}

{% if limit %}
  {% if limit == 'all' %}
    {% set display_classes = sorted_classes %}
  {% elif limit is number %}
    {% set display_classes = sorted_classes[:limit|int] %}
  {% elif 'last' in limit|lower %}
    {% set limit_num = limit|replace('last', '')|replace(' ', '')|int %}
    {% set display_classes = sorted_classes[-limit_num:] %}
  {% else %}
    {% set limit_num = limit|int %}
    {% set display_classes = sorted_classes[:limit_num] %}
  {% endif %}
{% else %}
  {% set display_classes = sorted_classes %}
{% endif %}

{% if display_classes %}
<div class="classes-widget">
  <div class="el-grid">
    {% for item in display_classes %}
    <a href="/{{ item.slug }}/" class="el-stack aesthetic-card">
      {% if item.preview_image %}
      <div class="card__image el-frame-16x9">
        <img src="{{ item.preview_image }}" alt="{{ item.title }}" />
      </div>
      {% endif %}
      <div class="card__content">
        <h3 class="card__title">{{ item.title }}</h3>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}
