<footer class="padding-all-m margin-top-xl" role="contentinfo">
  <div class="cluster justify-between gap-m">
    <a href="" class="logo text-l">{{ SITENAME }}</a>
    <nav class="nav cluster gap-s">
      <a href="tango-kalendar-brno/" class="nav__item text-s">Kalendář</a>
      <a href="tango-lekce-brno/" class="nav__item text-s">Lekce</a>
      <a href="tango-milongy-brno/" class="nav__item text-s">Milongy</a>
      <a href="lenka-pise-oznamy/" class="nav__item text-s">Oznamy</a>
      <a href="tango-pikosky/" class="nav__item text-s">Pikošky</a>
      <a href="o-nas/" class="nav__item text-s">O nás</a>
      <a href="marathon/" class="nav__item text-s">Tango Marathon</a>
      <a href="tango-milongy-tenhle-tyden/" class="nav__item text-s">Tanči tenhle týden</a>
    </nav>
  </div>
</footer>
