<footer class="padding-all-m margin-top-xl" role="contentinfo">
  <div class="cluster justify-between gap-m">
    <a href="{{ SITEURL }}/" class="logo text-l">{{ SITENAME }}</a>
    <nav class="nav cluster gap-s">
      <a href="{{ SITEURL }}/tango-kalendar-brno/" class="nav__item text-s">Kalendář</a>
      <a href="{{ SITEURL }}/tango-lekce-brno/" class="nav__item text-s">Lekce</a>
      <a href="{{ SITEURL }}/tango-milongy-brno/" class="nav__item text-s">Milongy</a>
      <a href="{{ SITEURL }}/lenka-pise-oznamy/" class="nav__item text-s">Oznamy</a>
      <a href="{{ SITEURL }}/tango-pikosky/" class="nav__item text-s">Pikošky</a>
      <a href="{{ SITEURL }}/o-nas/" class="nav__item text-s">O nás</a>
      <a href="{{ SITEURL }}/marathon/" class="nav__item text-s">Tango Marathon</a>
      <a href="{{ SITEURL }}/tango-milongy-tenhle-tyden/" class="nav__item text-s">Tanči tenhle týden</a>
    </nav>
  </div>
</footer>
