<nav class="cluster gap-m" role="navigation" aria-label="Main navigation">
  <a href="{{ SITEURL }}/tango-kalendar-brno.html" class="nav__item {% if (page is defined and 'tango-kalendar-brno' in page.url) or 'tango-kalendar-brno' in output_file %}nav__item--active{% endif %}">
    Kalendář
  </a>
  <a href="{{ SITEURL }}/tango-lekce-brno.html" class="nav__item {% if (page is defined and 'tango-lekce-brno' in page.url) or 'tango-lekce-brno' in output_file %}nav__item--active{% endif %}">
    Lekce
  </a>
  <a href="{{ SITEURL }}/tango-milongy-brno.html" class="nav__item {% if (page is defined and 'tango-milongy-brno' in page.url) or 'tango-milongy-brno' in output_file %}nav__item--active{% endif %}">
    Milongy
  </a>
  <a href="{{ SITEURL }}/tango-pikosky.html" class="nav__item {% if (page is defined and 'tango-pikosky' in page.url) or 'tango-pikosky' in output_file %}nav__item--active{% endif %}">
    Pikošky
  </a>
  <a href="{{ SITEURL }}/lenka-pise-oznamy.html" class="nav__item {% if (page is defined and 'lenka-pise-oznamy' in page.url) or 'lenka-pise-oznamy' in output_file %}nav__item--active{% endif %}">
    Oznamy
  </a>
  <a href="{{ SITEURL }}/o-nas.html" class="nav__item {% if (page is defined and 'o-nas' in page.url) or 'o-nas' in output_file %}nav__item--active{% endif %}">
    O nás
  </a>
</nav>
