{% set limit = none %}
{% set sort = none %}

{% if tag_content %}
  {% set tag_name_parts = tag_content.split(' ') %}
  {% set tag_name = tag_name_parts[0] %}
  {% if tag_name_parts | length > 1 %}
    {% set attrs_str = tag_content[tag_name | length:] | trim %}
    {% if attrs_str %}
      {% set attrs_list = attrs_str.split('" ') %}
      {% for attr in attrs_list %}
        {% if 'limit="' in attr %}
          {% set limit_raw = attr.split('limit="')[1] %}
          {% set limit = limit_raw.split('"', 1)[0] %}
        {% elif 'sort="' in attr %}
          {% set sort_raw = attr.split('sort="')[1] %}
          {% set sort = sort_raw.split('"', 1)[0] | lower %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endif %}

{% set announcement_pages = [] %}
{% for article in all_articles %}
  {% if article.category and article.category.name == 'announcement' %}
    {% set _ = announcement_pages.append(article) %}
  {% endif %}
{% endfor %}

{% if sort == 'oldest' %}
  {% set sorted_announcements = announcement_pages | sort(attribute='date') %}
{% else %}
  {% set sorted_announcements = announcement_pages | sort(attribute='date', reverse=true) %}
{% endif %}

{% if limit %}
  {% if limit == 'all' %}
    {% set display_announcements = sorted_announcements %}
  {% elif limit is number %}
    {% set display_announcements = sorted_announcements[:limit|int] %}
  {% elif 'last' in limit|lower %}
    {% set limit_num = limit|replace('last', '')|replace(' ', '')|int %}
    {% set display_announcements = sorted_announcements[-limit_num:] %}
  {% else %}
    {% set limit_num = limit|int %}
    {% set display_announcements = sorted_announcements[:limit_num] %}
  {% endif %}
{% else %}
  {% set display_announcements = sorted_announcements %}
{% endif %}

<div class="widget-announcements">
  {% if display_announcements %}
  <div class="el-grid">
    {% for item in display_announcements %}
    <a href="/{{ item.slug }}/" class="aesthetic-card card-m">
      {% if item.preview_image %}
      <div class="el-frame-16x9">
        <img src="{{ item.preview_image }}" alt="{{ item.preview_image_alt|default(item.title) }}" />
      </div>
      {% endif %}
      <div>
        <h3>{{ item.title }}</h3>
      </div>
    </a>
    {% endfor %}
  </div>
  {% endif %}
</div>
