{% macro process_widgets(content) %}
  {% set widget_pattern = '<widget-' %}
  
  {% if widget_pattern in content %}
    {% set parts = content.split(widget_pattern) %}
    {{ parts[0] }}
    
    {% for part in parts[1:] %}
      {% if '>' in part %}
        {% set tag_parts = part.split('>', 1) %}
        {% set tag_content = tag_parts[0] %}
        {% set after_tag = tag_parts[1] %}
        
        {% set tag_name_parts = tag_content.split(' ') %}
        {% set tag_name = tag_name_parts[0] %}
        
        {% set closing_tag = '</widget-' + tag_name + '>' %}
        {% if closing_tag in after_tag %}
          {% set closing_parts = after_tag.split(closing_tag, 1) %}
          {% set after_widget = closing_parts[1] %}
        {% elif '/>' in tag_content %}
          {% set after_widget = after_tag %}
        {% else %}
          {% set after_widget = after_tag %}
        {% endif %}
        
        {% if tag_name == 'calendar' %}
          {% include 'components/widget_calendar.html' with context %}
        {% elif tag_name == 'announcements' %}
          {% include 'components/widget_announcements.html' with context %}
        {% elif tag_name == 'curiosities' %}
          {% include 'components/widget_curiosities.html' with context %}
        {% elif tag_name == 'classes' %}
          {% include 'components/widget_classes.html' with context %}
        {% elif tag_name == 'people' %}
          {% include 'components/widget_people.html' with context %}
        {% endif %}
        
        {{ process_widgets(after_widget) }}
      {% else %}
        {{ part }}
      {% endif %}
    {% endfor %}
  {% else %}
    {{ content }}
  {% endif %}
{% endmacro %}
